{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title style="color: white;">Lendio</title>
</head>
<body style="background-color: black;">
    <h1 style="color: white;">Lendio</h1>
    <h2 style="color: white">A P2P Lending Platform</h2>
    <div>
        <img src="{% static '/images/header.png' %}" alt="Two hands exhanging money" width="10%">
    </div>

    

    
</body>
</html>